---
---

<footer>
  <small>
    Copyright &copy; <span id="copyright"> | All right reserved</span>
  </small>
</footer>

<!-- <script>
  document.querySelector("#copyright").textContent =
    new Date().getFullYear.toString();
</script> -->
